In [ ]:
 # pyspark

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('dataframeapp').getOrCreate()

In [ ]:
spark

In [ ]:
data = spark.read.option('header','True').csv('da13.csv')

In [ ]:
data.show()

+---+----------+---------+---+-----------+-----+
| id|first_name|last_name|age|    address|marks|
+---+----------+---------+---+-----------+-----+
|  1|    yograj|  Gadekar| 24|      Yeola|   70|
|  2|   gayatri|  mahajan| 23|     adawad|   65|
|  3|    sonali| daithane| 24|      latur|   77|
|  4|  abhijeet|  jagdale| 25|     mumbai|   54|
|  5|    aditya|   sharma| 22|     mumbai|   55|
|  6|    nikhil|  rajgude| 23|chinchpokli|   72|
|  7|   kalpana|    ubale| 21|      latur|   66|
|  8|     vipul|   mishra| 25|     bandra|   64|
|  9|   saloni | kutafale| 24|   buldhana|   74|
| 10|   myuari |  gaikwad| 23|   vaijapur|   60|
+---+----------+---------+---+-----------+-----+

In [ ]:
data.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: string (nullable = true)
 |--  address: string (nullable = true)
 |-- marks: string (nullable = true)

In [ ]:
data.head(5)

[Row(id='1', first_name='yograj', last_name='Gadekar', age='24',  address='Yeola', marks='70'),
 Row(id='2', first_name='gayatri', last_name='mahajan', age='23',  address='adawad', marks='65'),
 Row(id='3', first_name='sonali', last_name='daithane', age='24',  address='latur', marks='77'),
 Row(id='4', first_name='abhijeet', last_name='jagdale', age='25',  address='mumbai', marks='54'),
 Row(id='5', first_name='aditya', last_name='sharma', age='22',  address='mumbai', marks='55')]

In [ ]:
data.tail(5)

[Row(id='6', first_name='nikhil', last_name='rajgude', age='23',  address='chinchpokli', marks='72'),
 Row(id='7', first_name='kalpana', last_name='ubale', age='21',  address='latur', marks='66'),
 Row(id='8', first_name='vipul', last_name='mishra', age='25',  address='bandra', marks='64'),
 Row(id='9', first_name='saloni ', last_name='kutafale', age='24',  address='buldhana', marks='74'),
 Row(id='10', first_name='myuari ', last_name='gaikwad', age='23',  address='vaijapur', marks='60')]

In [ ]:
data.columns

['id', 'first_name', 'last_name', 'age', ' address', 'marks']

In [ ]:
  data.select('first_name','last_name').show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    yograj|  Gadekar|
|   gayatri|  mahajan|
|    sonali| daithane|
|  abhijeet|  jagdale|
|    aditya|   sharma|
|    nikhil|  rajgude|
|   kalpana|    ubale|
|     vipul|   mishra|
|   saloni | kutafale|
|   myuari |  gaikwad|
+----------+---------+

In [ ]:
data.describe().show()

+-------+------------------+----------+---------+------------------+--------+-----------------+
|summary|                id|first_name|last_name|               age| address|            marks|
+-------+------------------+----------+---------+------------------+--------+-----------------+
|  count|                10|        10|       10|                10|      10|               10|
|   mean|               5.5|      null|     null|              23.4|    null|             65.7|
| stddev|3.0276503540974917|      null|     null|1.2649110640673518|    null|7.761013679496599|
|    min|                 1|  abhijeet|  Gadekar|                21|   Yeola|               54|
|    max|                 9|    yograj|    ubale|                25|vaijapur|               77|
+-------+------------------+----------+---------+------------------+--------+-----------------+

In [ ]:
data1 = spark.read.csv('IrisNULLData.data')

In [ ]:
data1.show()

+----+----+----+----+-----------+
| _c0| _c1| _c2| _c3|        _c4|
+----+----+----+----+-----------+
|null| 3.5| 1.4| 0.2|Iris-setosa|
|null|null| 1.4| 0.2|Iris-setosa|
|null|null|null| 0.2|Iris-setosa|
|null|null|null|null|Iris-setosa|
|null|null|null|null|       null|
|null| 3.9| 1.7| 0.4|       null|
| 4.6|null| 1.4|null|Iris-setosa|
|null| 3.4|null| 0.2|Iris-setosa|
| 4.4|null| 1.4|null|       null|
|null|null| 1.5|null|Iris-setosa|
| 5.4|null| 1.5|null|       null|
|null|null|null| 0.2|Iris-setosa|
| 4.8|null|null| 0.1|Iris-setosa|
|null|null|null| 0.1|       null|
| 5.8| 4.0| 1.2| 0.2|Iris-setosa|
|null|null|null|null|Iris-setosa|
| 5.4| 3.9| 1.3| 0.4|Iris-setosa|
| 5.1| 3.5| 1.4| 0.3|Iris-setosa|
| 5.7| 3.8| 1.7| 0.3|Iris-setosa|
| 5.1| 3.8| 1.5| 0.3|Iris-setosa|
+----+----+----+----+-----------+
only showing top 20 rows

In [ ]:
data1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [ ]:
data1.columns

['_c0', '_c1', '_c2', '_c3', '_c4']

In [ ]:
data1 = data1.withColumnRenamed('_c0','sepal_lenght')\
.withColumnRenamed('_c1','sepal_width')\
.withColumnRenamed('_c2','petel_lenght')\
.withColumnRenamed('_c3','petel_width')\
.withColumnRenamed('_c4','class')

In [ ]:
data1.columns

['sepal_lenght', 'sepal_width', 'petel_lenght', 'petel_width', 'class']

In [ ]:
data1.show()

+------------+-----------+------------+-----------+-----------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|
+------------+-----------+------------+-----------+-----------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|
|        null|       null|         1.4|        0.2|Iris-setosa|
|        null|       null|        null|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|        null|       null|        null|       null|       null|
|        null|        3.9|         1.7|        0.4|       null|
|         4.6|       null|         1.4|       null|Iris-setosa|
|        null|        3.4|        null|        0.2|Iris-setosa|
|         4.4|       null|         1.4|       null|       null|
|        null|       null|         1.5|       null|Iris-setosa|
|         5.4|       null|         1.5|       null|       null|
|        null|       null|        null|        0.2|Iris-setosa|
|         4.8|       null|        null|        0.1|Iris-setosa|
|        null|       null|        null|        0.1|       null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
data2 = data1.withColumn('sl+sw', data1['sepal_lenght']+data1['sepal_width'])

In [ ]:
data2.show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|        null|       null|        null|       null|       null|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.4|       null|         1.4|       null|       null|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|         5.4|       null|         1.5|       null|       null|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|        null|       null|        null|        0.1|       null|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data1.drop('sl+sw').show()

+------------+-----------+------------+-----------+-----------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|
+------------+-----------+------------+-----------+-----------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|
|        null|       null|         1.4|        0.2|Iris-setosa|
|        null|       null|        null|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|        null|       null|        null|       null|       null|
|        null|        3.9|         1.7|        0.4|       null|
|         4.6|       null|         1.4|       null|Iris-setosa|
|        null|        3.4|        null|        0.2|Iris-setosa|
|         4.4|       null|         1.4|       null|       null|
|        null|       null|         1.5|       null|Iris-setosa|
|         5.4|       null|         1.5|       null|       null|
|        null|       null|        null|        0.2|Iris-setosa|
|         4.8|       null|        null|        0.1|Iris-setosa|
|        null|       null|        null|        0.1|       null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
data2.show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|        null|       null|        null|       null|       null|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.4|       null|         1.4|       null|       null|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|         5.4|       null|         1.5|       null|       null|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|        null|       null|        null|        0.1|       null|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.na.drop().show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|              8.8|
|         5.1|        3.7|         1.5|        0.4|Iris-setosa|              8.8|
|         4.6|        3.6|         1.0|        0.2|Iris-setosa|              8.2|
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|8.399999999999999|
|         5.0|        3.4|         1.6|        0.4|Iris-setosa|              8.4|
|         5.2|        3.5|         1.5|        0.2|Iris-setosa|              8.7|
|         5.2|        3.4|         1.4|        0.2|Iris-setosa|              8.6|
|         4.8|        3.1|         1.6|        0.2|Iris-setosa|              7.9|
|         5.4|        3.4|         1.5|        0.4|Iris-setosa|              8.8|
|         5.2|        4.1|         1.5|        0.1|Iris-setosa|              9.3|
|         5.5|        4.2|         1.4|        0.2|Iris-setosa|              9.7|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|              8.0|
|         5.0|        3.2|         1.2|        0.2|Iris-setosa|              8.2|
|         5.5|        3.5|         1.3|        0.2|Iris-setosa|              9.0|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|              8.0|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|        null|       null|        null|       null|       null|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.4|       null|         1.4|       null|       null|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|         5.4|       null|         1.5|       null|       null|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|        null|       null|        null|        0.1|       null|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
# thresh can be access to remove only non_null_values
data2.na.drop(thresh=3).show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|              8.8|
|         5.1|        3.7|         1.5|        0.4|Iris-setosa|              8.8|
|         4.6|        3.6|         1.0|        0.2|Iris-setosa|              8.2|
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|8.399999999999999|
|         5.0|        3.4|         1.6|        0.4|Iris-setosa|              8.4|
|         5.2|        3.5|         1.5|        0.2|Iris-setosa|              8.7|
|         5.2|        3.4|         1.4|        0.2|Iris-setosa|              8.6|
|         4.7|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|        3.1|         1.6|        0.2|Iris-setosa|              7.9|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|        null|       null|        null|       null|       null|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.4|       null|         1.4|       null|       null|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|         5.4|       null|         1.5|       null|       null|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|        null|       null|        null|        0.1|       null|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
# subset means it can drop all null values in perticular column 
# also this columns sepal_lenght,sepal_width, petel_lenght, petel_width are dependent on the class column
data2.na.drop(subset='class').show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|              8.8|
|         5.1|        3.7|         1.5|        0.4|Iris-setosa|              8.8|
|         4.6|        3.6|         1.0|        0.2|Iris-setosa|              8.2|
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|8.399999999999999|
|        null|       null|        null|       null|Iris-setosa|             null|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.na.drop(how='all').show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|         1.4|        0.2|Iris-setosa|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|        null|       null|        null|       null|Iris-setosa|             null|
|        null|        3.9|         1.7|        0.4|       null|             null|
|         4.6|       null|         1.4|       null|Iris-setosa|             null|
|        null|        3.4|        null|        0.2|Iris-setosa|             null|
|         4.4|       null|         1.4|       null|       null|             null|
|        null|       null|         1.5|       null|Iris-setosa|             null|
|         5.4|       null|         1.5|       null|       null|             null|
|        null|       null|        null|        0.2|Iris-setosa|             null|
|         4.8|       null|        null|        0.1|Iris-setosa|             null|
|        null|       null|        null|        0.1|       null|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|        null|       null|        null|       null|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|              8.8|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.na.fill('--').show()

+------------+-----------+------------+-----------+-----------+-----------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|            sl+sw|
+------------+-----------+------------+-----------+-----------+-----------------+
|          --|        3.5|         1.4|        0.2|Iris-setosa|             null|
|          --|         --|         1.4|        0.2|Iris-setosa|             null|
|          --|         --|          --|        0.2|Iris-setosa|             null|
|          --|         --|          --|         --|Iris-setosa|             null|
|          --|         --|          --|         --|         --|             null|
|          --|        3.9|         1.7|        0.4|         --|             null|
|         4.6|         --|         1.4|         --|Iris-setosa|             null|
|          --|        3.4|          --|        0.2|Iris-setosa|             null|
|         4.4|         --|         1.4|         --|         --|             null|
|          --|         --|         1.5|         --|Iris-setosa|             null|
|         5.4|         --|         1.5|         --|         --|             null|
|          --|         --|          --|        0.2|Iris-setosa|             null|
|         4.8|         --|          --|        0.1|Iris-setosa|             null|
|          --|         --|          --|        0.1|         --|             null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|              9.8|
|          --|         --|          --|         --|Iris-setosa|             null|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|              9.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|              8.6|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|              9.5|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|8.899999999999999|
+------------+-----------+------------+-----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
data2.filter

In [ ]:
# We arecalculating the no of null values present in the data on the basis of classes
data2.groupBy('class').count().show()

+---------------+-----+
|          class|count|
+---------------+-----+
| Iris-virginica|   50|
|    Iris-setosa|   45|
|Iris-versicolor|   50|
|           null|    5|
+---------------+-----+

In [ ]:
data2.groupBy('petel_width').count().show()

+-----------+-----+
|petel_width|count|
+-----------+-----+
|        1.0|    7|
|        0.3|    6|
|        1.7|    2|
|        0.2|   23|
|        2.5|    3|
|        2.4|    3|
|        1.6|    4|
|        1.8|   12|
|        1.4|    8|
|        0.5|    1|
|        1.9|    5|
|        0.6|    1|
|        0.1|    5|
|        1.3|   13|
|        1.5|   12|
|        2.0|    6|
|        2.2|    3|
|        1.1|    3|
|        2.3|    8|
|        2.1|    6|
+-----------+-----+
only showing top 20 rows

In [ ]:
# this is use to change the datatype of any variable using data.withColumn

data1 = data1.withColumn('petel_width', data1['petel_width'].astype('string'))
data1 = data1.withColumn('petel_lenght', data1['petel_lenght'].astype('string'))
data1 = data1.withColumn('sepal_width', data1['sepal_width'].astype('string'))
data1 = data1.withColumn('sepal_lenght', data1['sepal_lenght'].astype('string'))

In [ ]:
data1.printSchema()

root
 |-- sepal_lenght: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petel_lenght: string (nullable = true)
 |-- petel_width: string (nullable = true)
 |-- class: string (nullable = true)

In [ ]:
data1.groupBy('class').sum('petel_lenght').show()

+---------------+------------------+
|          class| sum(petel_lenght)|
+---------------+------------------+
| Iris-virginica| 277.5999994277954|
|    Iris-setosa| 52.19999980926514|
|Iris-versicolor|212.99999904632568|
|           null| 4.600000023841858|
+---------------+------------------+

In [ ]:
data1.groupby('class').avg('petel_lenght').show()

+---------------+------------------+
|          class| avg(petel_lenght)|
+---------------+------------------+
| Iris-virginica| 5.551999988555909|
|    Iris-setosa|1.4499999947018094|
|Iris-versicolor| 4.259999980926514|
|           null|1.5333333412806194|
+---------------+------------------+

In [ ]:
data1.show()

+------------+-----------+------------+-----------+-----------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|
+------------+-----------+------------+-----------+-----------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|
|        null|       null|         1.4|        0.2|Iris-setosa|
|        null|       null|        null|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|        null|       null|        null|       null|       null|
|        null|        3.9|         1.7|        0.4|       null|
|         4.6|       null|         1.4|       null|Iris-setosa|
|        null|        3.4|        null|        0.2|Iris-setosa|
|         4.4|       null|         1.4|       null|       null|
|        null|       null|         1.5|       null|Iris-setosa|
|         5.4|       null|         1.5|       null|       null|
|        null|       null|        null|        0.2|Iris-setosa|
|         4.8|       null|        null|        0.1|Iris-setosa|
|        null|       null|        null|        0.1|       null|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|        null|       null|        null|       null|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
data1.select('petel_width').show()

+-----------+
|petel_width|
+-----------+
|        0.2|
|        0.2|
|        0.2|
|       null|
|       null|
|        0.4|
|       null|
|        0.2|
|       null|
|       null|
|       null|
|        0.2|
|        0.1|
|        0.1|
|        0.2|
|       null|
|        0.4|
|        0.3|
|        0.3|
|        0.3|
+-----------+
only showing top 20 rows

In [ ]:
data1.groupby('petel_lenght').sum().show()

+------------+------------------+------------------+
|petel_lenght| sum(petel_lenght)|  sum(petel_width)|
+------------+------------------+------------------+
|         6.9| 6.900000095367432| 2.299999952316284|
|         5.0|              20.0| 7.100000023841858|
|         5.5|              16.5| 5.699999809265137|
|         5.7| 17.09999942779541|6.8999998569488525|
|         3.8| 3.799999952316284| 1.100000023841858|
|         4.6|13.799999713897705| 4.199999928474426|
|         4.2|16.799999237060547| 5.299999952316284|
|         5.3|10.600000381469727| 4.199999928474426|
|         5.4|10.800000190734863|4.3999998569488525|
|         6.3| 6.300000190734863|1.7999999523162842|
|        null|              null|1.2000000178813934|
|         5.2|10.399999618530273| 4.299999952316284|
|         3.6|3.5999999046325684|1.2999999523162842|
|         3.0|               3.0| 1.100000023841858|
|         5.1| 40.79999923706055|15.399999976158142|
|         6.1|18.299999713897705| 6.699999928474426|
|         1.5|              16.5| 2.000000037252903|
|         3.3| 6.599999904632568|               2.0|
|         6.7|13.399999618530273| 4.200000047683716|
|         4.4|17.600000381469727| 5.299999952316284|
+------------+------------------+------------------+
only showing top 20 rows

In [ ]:
data1.groupby('petel_lenght').count().show()

+------------+-----+
|petel_lenght|count|
+------------+-----+
|         6.9|    1|
|         5.0|    4|
|         5.5|    3|
|         5.7|    3|
|         3.8|    1|
|         4.6|    3|
|         4.2|    4|
|         5.3|    2|
|         5.4|    2|
|         6.3|    1|
|        null|   11|
|         5.2|    2|
|         3.6|    1|
|         3.0|    1|
|         5.1|    8|
|         6.1|    3|
|         1.5|   11|
|         3.3|    2|
|         6.7|    2|
|         4.4|    4|
+------------+-----+
only showing top 20 rows

In [ ]:
data1.groupby('petel_lenght').min().show()

+------------+-----------------+----------------+
|petel_lenght|min(petel_lenght)|min(petel_width)|
+------------+-----------------+----------------+
|         6.9|              6.9|             2.3|
|         5.0|              5.0|             1.5|
|         5.5|              5.5|             1.8|
|         5.7|              5.7|             2.1|
|         3.8|              3.8|             1.1|
|         4.6|              4.6|             1.3|
|         4.2|              4.2|             1.2|
|         5.3|              5.3|             1.9|
|         5.4|              5.4|             2.1|
|         6.3|              6.3|             1.8|
|        null|             null|             0.1|
|         5.2|              5.2|             2.0|
|         3.6|              3.6|             1.3|
|         3.0|              3.0|             1.1|
|         5.1|              5.1|             1.5|
|         6.1|              6.1|             1.9|
|         1.5|              1.5|             0.1|
|         3.3|              3.3|             1.0|
|         6.7|              6.7|             2.0|
|         4.4|              4.4|             1.2|
+------------+-----------------+----------------+
only showing top 20 rows

In [ ]:
data1.groupby('petel_lenght').max().show()

+------------+-----------------+----------------+
|petel_lenght|max(petel_lenght)|max(petel_width)|
+------------+-----------------+----------------+
|         6.9|              6.9|             2.3|
|         5.0|              5.0|             2.0|
|         5.5|              5.5|             2.1|
|         5.7|              5.7|             2.5|
|         3.8|              3.8|             1.1|
|         4.6|              4.6|             1.5|
|         4.2|              4.2|             1.5|
|         5.3|              5.3|             2.3|
|         5.4|              5.4|             2.3|
|         6.3|              6.3|             1.8|
|        null|             null|             0.2|
|         5.2|              5.2|             2.3|
|         3.6|              3.6|             1.3|
|         3.0|              3.0|             1.1|
|         5.1|              5.1|             2.4|
|         6.1|              6.1|             2.5|
|         1.5|              1.5|             0.4|
|         3.3|              3.3|             1.0|
|         6.7|              6.7|             2.2|
|         4.4|              4.4|             1.4|
+------------+-----------------+----------------+
only showing top 20 rows

In [ ]:
d = data1.na.fill('4.7',['sepal_lenght', 'sepal_width', 'petel_lenght', 'petel_width']).na.fill('iris-setosa',['class'])

In [ ]:
d.show()

+------------+-----------+------------+-----------+-----------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|
+------------+-----------+------------+-----------+-----------+
|         4.7|        3.5|         1.4|        0.2|Iris-setosa|
|         4.7|        4.7|         1.4|        0.2|Iris-setosa|
|         4.7|        4.7|         4.7|        0.2|Iris-setosa|
|         4.7|        4.7|         4.7|        4.7|Iris-setosa|
|         4.7|        4.7|         4.7|        4.7|iris-setosa|
|         4.7|        3.9|         1.7|        0.4|iris-setosa|
|         4.6|        4.7|         1.4|        4.7|Iris-setosa|
|         4.7|        3.4|         4.7|        0.2|Iris-setosa|
|         4.4|        4.7|         1.4|        4.7|iris-setosa|
|         4.7|        4.7|         1.5|        4.7|Iris-setosa|
|         5.4|        4.7|         1.5|        4.7|iris-setosa|
|         4.7|        4.7|         4.7|        0.2|Iris-setosa|
|         4.8|        4.7|         4.7|        0.1|Iris-setosa|
|         4.7|        4.7|         4.7|        0.1|iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         4.7|        4.7|         4.7|        4.7|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
obj_imputer = Imputer(
    inputCols = ['sepal_lenght', 'sepal_width', 'petel_lenght', 'petel_width'],
    outputCols = ['{}._imputed'.format(b) for b in ['sepal_lenght', 'sepal_width', 'petel_lenght', 'petel_width']]
).setStrategy('mean')

In [ ]:
obj_imputer.fit(data1).transform(data1).show()

+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|sepal_lenght._imputed|sepal_width._imputed|petel_lenght._imputed|petel_width._imputed|
+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             5.929197|                 3.5|                  1.4|                 0.2|
|        null|       null|         1.4|        0.2|Iris-setosa|             5.929197|           3.0274074|                  1.4|                 0.2|
|        null|       null|        null|        0.2|Iris-setosa|             5.929197|           3.0274074|            3.9381294|                 0.2|
|        null|       null|        null|       null|Iris-setosa|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|        null|       null|        null|       null|       null|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|        null|        3.9|         1.7|        0.4|       null|             5.929197|                 3.9|                  1.7|                 0.4|
|         4.6|       null|         1.4|       null|Iris-setosa|                  4.6|           3.0274074|                  1.4|           1.2535211|
|        null|        3.4|        null|        0.2|Iris-setosa|             5.929197|                 3.4|            3.9381294|                 0.2|
|         4.4|       null|         1.4|       null|       null|                  4.4|           3.0274074|                  1.4|           1.2535211|
|        null|       null|         1.5|       null|Iris-setosa|             5.929197|           3.0274074|                  1.5|           1.2535211|
|         5.4|       null|         1.5|       null|       null|                  5.4|           3.0274074|                  1.5|           1.2535211|
|        null|       null|        null|        0.2|Iris-setosa|             5.929197|           3.0274074|            3.9381294|                 0.2|
|         4.8|       null|        null|        0.1|Iris-setosa|                  4.8|           3.0274074|            3.9381294|                 0.1|
|        null|       null|        null|        0.1|       null|             5.929197|           3.0274074|            3.9381294|                 0.1|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|                  5.8|                 4.0|                  1.2|                 0.2|
|        null|       null|        null|       null|Iris-setosa|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|                  5.4|                 3.9|                  1.3|                 0.4|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|                  5.1|                 3.5|                  1.4|                 0.3|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|                  5.7|                 3.8|                  1.7|                 0.3|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|                  5.1|                 3.8|                  1.5|                 0.3|
+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

In [ ]:
# type casting  to float
# 'sepal_lenght', 'sepal_width', 'petel_lenght', 'petel_width'
data1 = data1.withColumn('sepal_lenght', data1['sepal_lenght'].cast('float'))\
.withColumn('sepal_width',data1['sepal_width'].cast('float'))\
.withColumn('petel_lenght',data1['petel_lenght'].cast('float'))\
.withColumn('petel_width',data1['petel_width'].cast('float'))

In [ ]:
obj_imputer.fit(data1).transform(data1).show()

+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
|sepal_lenght|sepal_width|petel_lenght|petel_width|      class|sepal_lenght._imputed|sepal_width._imputed|petel_lenght._imputed|petel_width._imputed|
+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
|        null|        3.5|         1.4|        0.2|Iris-setosa|             5.929197|                 3.5|                  1.4|                 0.2|
|        null|       null|         1.4|        0.2|Iris-setosa|             5.929197|           3.0274074|                  1.4|                 0.2|
|        null|       null|        null|        0.2|Iris-setosa|             5.929197|           3.0274074|            3.9381294|                 0.2|
|        null|       null|        null|       null|Iris-setosa|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|        null|       null|        null|       null|       null|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|        null|        3.9|         1.7|        0.4|       null|             5.929197|                 3.9|                  1.7|                 0.4|
|         4.6|       null|         1.4|       null|Iris-setosa|                  4.6|           3.0274074|                  1.4|           1.2535211|
|        null|        3.4|        null|        0.2|Iris-setosa|             5.929197|                 3.4|            3.9381294|                 0.2|
|         4.4|       null|         1.4|       null|       null|                  4.4|           3.0274074|                  1.4|           1.2535211|
|        null|       null|         1.5|       null|Iris-setosa|             5.929197|           3.0274074|                  1.5|           1.2535211|
|         5.4|       null|         1.5|       null|       null|                  5.4|           3.0274074|                  1.5|           1.2535211|
|        null|       null|        null|        0.2|Iris-setosa|             5.929197|           3.0274074|            3.9381294|                 0.2|
|         4.8|       null|        null|        0.1|Iris-setosa|                  4.8|           3.0274074|            3.9381294|                 0.1|
|        null|       null|        null|        0.1|       null|             5.929197|           3.0274074|            3.9381294|                 0.1|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|                  5.8|                 4.0|                  1.2|                 0.2|
|        null|       null|        null|       null|Iris-setosa|             5.929197|           3.0274074|            3.9381294|           1.2535211|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|                  5.4|                 3.9|                  1.3|                 0.4|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|                  5.1|                 3.5|                  1.4|                 0.3|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|                  5.7|                 3.8|                  1.7|                 0.3|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|                  5.1|                 3.8|                  1.5|                 0.3|
+------------+-----------+------------+-----------+-----------+---------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

In [ ]:
data1.printSchema()

root
 |-- sepal_lenght: float (nullable = true)
 |-- sepal_width: float (nullable = true)
 |-- petel_lenght: float (nullable = true)
 |-- petel_width: float (nullable = true)
 |-- class: string (nullable = true)

In [ ]:
type(data1)

pyspark.sql.dataframe.DataFrame